h1 {
    color: skyblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
}

h3 {
    color: skyblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    color: white;
    background-color: black;
    text-align: justify;
}

span {
    color: yellowgreen;
    font-style: italic;
}

a {
    color: red;
    text-decoration: none;
}

.div-margin {
    margin-top: 25px;
    margin-bottom: 25px;
}